<div class="num-rslt">結果が<%= kanjis.length%>件</div>
<% for(var i=0; i<kanjis.length; i++) {%>
    <div class="kanji container">
        <div class="ui-grid-a header">
            <div class="ui-block-a" style="width:25%">
                <div class="vkan">
                    <a href="#" class="a-vkan" name='{"sType":"ekan","sData":"<%= kanjis[i].ekan%>"}'><%= kanjis[i].vkan%></a>
                </div>
                <div class="ji"><%= kanjis[i].ji %></div>
                <div class="parts">
                    <% for(var j=0; j<kanjis[i].parts.length; j++) {%>
                        <a href="#" class="a-part" name='{"sType":"parts","sData":"<%= kanjis[i].parts[j]%>"}'><%= kanjis[i].parts[j]%></a>
                    <% } %>
                </div>
            </div>
            <div class="ui-block-b" style="width:75%">
                <div class="means"><%= kanjis[i].vmeans.join(", ") %></div>
                <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:85%">
                        <div class="on">
                            <% for(var j=0; j<kanjis[i].on.length; j++) {%>
                                <a href="#" class="a-on" name='{"sType":"on","sData":"<%= kanjis[i].on[j]%>"}'><%= kanjis[i].on[j]%></a>
                                <% if (j < kanjis[i].on.length - 1 ){ %>、<% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="ui-block-b" style="width:15%">
                        <div class="jlpt"><%= kanjis[i].jlpt %></div>
                    </div>
                </div>
                <div class="kuns">
                    <div class="ui-grid-a">
                        <% for(var j=0; j<kanjis[i].kun.length; j++) {%>
                            <% if (kanjis[i].kun[j].suffix === "") { %>
                                <div class="<%= ( j % 2 === 0) ? "ui-block-a" : "ui-block-b" %>" style="width:50%">
                                    <a href="#" class="a-kun" name='{"sType":"kun","sSubType":"main","sData":"<%= kanjis[i].kun[j].main %>"}'><%= kanjis[i].kun[j].main %></a>
                                </div>
                            <% } else { %>
                                <div class="<%= ( j % 2 === 0) ? "ui-block-a" : "ui-block-b" %>" style="width:50%">
                                    <a href="#" class="a-kun" name='{"sType":"kun","sSubType":"main","sData":"<%= kanjis[i].kun[j].main %>"}'><%= kanjis[i].kun[j].main %></a>・
                                    <a href="#" class="a-kun" name='{"sType":"kun","sSubType":"suffix","sData":"<%= kanjis[i].kun[j].suffix %>"}'><%= kanjis[i].kun[j].suffix %></a>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% if (kanjis[i].sample !== null) {%>
            <div class="samples content">
                <% for(var j=0; j<kanjis[i].sample.length; j++) {%>
                    <div class="sample">
                        <span class="word"><%= kanjis[i].sample[j].word %></span>&nbsp;
                        [<span class="read"><%= kanjis[i].sample[j].read %></span>]&nbsp;
                        <span class="mean"><%= kanjis[i].sample[j].mean %></span>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
<% } %>
